---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Wattrunner | Contact">
	<main>
		<h1 class="text-3xl font-bold">Contact Us</h1>
		<p>Contact information or form.</p>
	</main>
</Layout> 